@page {
  size: A4;
  margin: 0;
}

@media print {

  html,
  body {
    visibility: hidden;
    size: A4;
  }

  #printSection {
    visibility: visible;
    position: absolute;
    padding-top: 2.5cm;
    padding-left: 2cm;
    padding-right: 2cm;
    padding-bottom: 2cm;
    size: A4;
    left: 0;
    top: 0;
  }
}