/* .page {
  size: A4;
  margin: 0;
  width: 210mm;
  height: 297mm;
}
 */
@media print {
  body * {
    visibility:hidden;
  }
  #printSection, #printSection * {
    visibility:visible;
    size: A4;
  }

  #printSection {
    size: A4;
    position:absolute;
    left:0;
    top:0;
  }
}

